---
interface Props{
    label: string
    value: string
    path?: string
}
const {label, value, path} = Astro.props;
const locale = Astro.currentLocale!;
---
<>
    {path?
        (<a href={path} target="_blank" class="group flex items-center gap-x-2 flex-wrap">
            <p class="capitalize font-cascadia font-semibold">{label}:</p>
            <p class="font-light font-sweet group-hover:underline">{value}</p>
        </a>):
        (<div class="flex items-center gap-x-2 flex-wrap">
            <p class="capitalize font-cascadia font-semibold">{label}:</p>
            <p class="font-light font-sweet">{value}</p>
        </div>)
    }
</>