---
import Location from "../../assets/icons/Location.astro";
import Work from "../../assets/icons/Work.astro";
import PersonalDataItem from "./PersonalDataItem.astro";
import Social from "../../assets/icons/Social.astro";
import GithubIcon from "../../../../core/icons/GithubIcon.astro";
import Linkedin from "../../assets/icons/Linkedin.astro";
import Code from "../../assets/icons/Code.astro";

interface Props {
  lang: string;
}
const { lang } = Astro.props;
const item1 = lang === "es" ? "Ubicación" : "Location";
const item2 = lang === "es" ? "Profesión" : "Profession";
const item2Text = lang === "es" ? "Ingeniero de Sistemas" : "Systems Engineer";
const item3 = lang === "es" ? "Experiencia Laboral" : "Work Experience";
const item4 = lang === "es" ? "Disponibilidad" : "Availability";
const item4Text = lang === "es" ? "Tiempo completo" : "Full-time";
const item5 = lang === "es" ? "Redes Sociales" : "Social Media";
---

<div class="grid grid-cols-5 gap-8 w-full col-span-5 h-fit">
  <PersonalDataItem title={item1} className="min-w-9 h-9">
    <span>Santa Marta - Colombia</span>
    <figure slot="icon" class="w-8 h-8 text-blue-500">
      <Location />
    </figure>
  </PersonalDataItem>
  <PersonalDataItem title={item2} className="min-w-9 h-9">
    <span>{item2Text}</span>
    <figure slot="icon" class="w-8 h-8 text-blue-500">
      <Work />
    </figure>
  </PersonalDataItem>
  <PersonalDataItem className="" title={item3}>
    <figure slot="icon" class="w-8 h-8 text-sky-500">
      <Code/>
    </figure>
    <span>+4 {lang === "es" ? "Años" : "Years"}</span>
  </PersonalDataItem>
  <PersonalDataItem title={item4} className="">
    <span>{item4Text}</span>
    <figure
      slot="icon"
      class="bg-green-600 rounded-full w-4 h-4 justify-self-center animate-pulse"
    />
  </PersonalDataItem>
  <PersonalDataItem title={item5} className="min-w-9 h-9">
    <a
      href="https://github.com/JuanZuniga79"
      target="_blank"
      class="rounded-full p-1 hover:bg-indigo-600 hover:text-white text-indigo-600 transition-colors duration-300"
    >
      <figure class="w-6 h-6">
        <GithubIcon />
      </figure>
    </a>
    <a
      href="https://www.linkedin.com/in/juanzuniga79"
      target="_blank"
      class="rounded-full p-1 hover:bg-blue-600 hover:text-white text-blue-600 transition-colors duration-300"
    >
      <figure class="w-6 h-6">
        <Linkedin />
      </figure>
    </a>
    <figure slot="icon" class="w-8 h-8 text-emerald-500">
      <Social />
    </figure>
  </PersonalDataItem>
</div>
