---
import type ISkills from "../../data/Skills";
import Star from "../../assets/icons/Star.astro";
interface Props {
    lang: string;
    item: ISkills[];
    title: string;
    bg?: string;
}
const { lang, item, title, bg } = Astro.props;
const preferred = lang === "es" ? "Preferencia" : "Preferred";
const proficient = lang === "es" ? "Competente" : "Proficient";
const beginner = lang === "es" ? "Principiante" : "Beginner";
const learning = lang === "es" ? "Aprendiendo" : "Learning";
const projects = lang === "es" ? "Proyectos" : "ProjectsSection";
---

<div
    class="border-[1px] border-neutral-200 rounded-2xl col-span-1 p-4 flex flex-col gap-y-8 bg-white"
>
    <h4 class="lg:text-lg 2xl:text-2xl font-serif font-semibold text-neutral-800">{title}</h4>
    <ul class="flex flex-col gap-y-2 2xl:gap-y-5">
        {
            item
                .sort((a, b) => b.level - a.level)
                .map((item) => (
                    <li class="grid grid-cols-6 p-2 items-center">
                        <div
                            class={`rounded-full 2xl:w-10 2xl:h-10 w-8 h-8 flex items-center justify-center ${bg}`}
                        >
                            <figure class="2xl:w-6 2xl:h-6 w-5 text-white">
                                <slot />
                            </figure>
                        </div>
                        <div class="col-span-5 flex flex-col gap-y-1">
                            <h5 class="uppercase font-serif font-medium 2xl:text-lg text-base">
                                {item.name}
                            </h5>
                            <div class="flex flex-col w-full">
                                <div class="flex items-center justify-between">
                                    <p class="text-sm gap-x-4 flex items-center italic">
                                        <span>{projects}</span>
                                        <span>0</span>
                                    </p>
                                    <span class="text-sm font-serif italic place-self-end">
                                        {item.level > 8
                                            ? preferred
                                            : item.level > 6
                                              ? proficient
                                              : item.level > 4
                                                ? beginner
                                                : learning}
                                    </span>
                                </div>
                                <ul
                                    class={`grid grid-cols-10 h-2 overflow-hidden rounded-2xl bg-neutral-200/50`}
                                >
                                    {Array.from({ length: item.level }).map(
                                        (it, i) => (
                                            <li class={`w-full ${bg}`} />
                                        ),
                                    )}
                                </ul>
                            </div>
                        </div>
                    </li>
                ))
        }
    </ul>
</div>
