---
import { Image } from "astro:assets";
import PersonalData from "../components/resume/PersonalData.astro";
import WPM from "../components/resume/WPM.astro";
import profile from "../assets/images/profile2.png";
import AboutItem from "../components/resume/AboutItem.astro";

const lang = Astro.currentLocale;
if (!lang) return;
const about = lang === "es" ? "Acerca de mi" : "About me";
const phrase =
  lang === "es"
    ? "prefiero ser el primero en una aldea, que el segundo en Roma."
    : "I prefer to be the first in a village, than the second in Rome.";
const name = lang === "es" ? "Primer Nombre" : "First Name";
const lastName = lang === "es" ? "Apellidos" : "Last Name";
const birth = lang === "es" ? "Cumpleaños" : "Birthday";
const age = lang === "es" ? "Edad" : "Age";
const month = lang === "es" ? "Abril" : "April";
const address = lang === "es" ? "Ubicación" : "Address";
const phoneNumber = lang === "es" ? "Telefono" : "Celphone";
const download = lang === "es" ? "Descargar CV" : "Download CV";
const contact = lang === "es" ? "Contrata me" : "Contact Me";
const language = lang === "es" ? "Idiomas" : "Languages";
const langContent = lang === "es" ? "Ingles/Español" : "English/Spanish";
const years = lang === "es" ? "Años programando" : "Years Coding";
---

<section id="about" class="grid grid-cols-5 gap-x-10 gap-y-5 w-full">
  <div class="col-span-3 flex flex-col self-end gap-y-12">
    <h3 class="uppercase text-5xl font-bold font-serif col-span-4">{about}</h3>
    <h4
      class="first-letter:uppercase first-letter:text-4xl font-light text-xl italic first-letter:font-mono"
    >
      {phrase}
    </h4>
    <div class="grid grid-cols-2 gap-x-5 text-base">
      <div class="flex flex-col gap-y-2">
        <AboutItem title={name} content="Juan Camilo" />
        <AboutItem title={birth} content={`${month} 02, 2001`} />
        <AboutItem
          content={`${lang === "es" ? "Disponible" : "Able"}`}
          title="Freelancer"
        />
        <div id="email" class="hover:underline cursor-pointer">
          <AboutItem content="wk.juanzuniga@gmail.com" title="E-Mail" />
        </div>
        <AboutItem content={langContent} title={language} />
      </div>
      <div class="flex flex-col gap-y-2">
        <AboutItem content="Zuñiga Pacheco" title={lastName} />
        <AboutItem content="23" title={age} />
        <AboutItem content="Santa Marta/Colombia" title={address} />
        <div id="phone" class="hover:underline cursor-pointer">
          <AboutItem content="+57 3054725724" title={phoneNumber} />
        </div>
        <AboutItem title={years} content="5+" />
      </div>
    </div>
    <div class="grid grid-cols-3 gap-8">
      <button
        id="cv"
        class="rounded-lg px-4 py-1 text-white uppercase font-mono text-lg bg-blue-500
            hover:bg-blue-800 cursor-pointer w-full text-center"
      >
        {download}
      </button>
      <a
        href="#contact"
        class="rounded-lg px-4 py-1 text-white uppercase font-mono text-lg bg-sky-500
        hover:bg-sky-800 cursor-pointer w-full text-center"
      >
        {contact}
      </a>
    </div>
  </div>
  <div class="w-full flex flex-col-reverse gap-5 pt-16">
    <WPM lang={lang} />
  </div>
  <div
    class="relative w-full place-self-end h-[350px] col-span-1 p-3 rounded-2xl bg-white"
  >
    <figure class="bg-neutral-200 w-full h-full rounded-2xl">
      <Image
        src={profile}
        alt="Juan Zuniga photo"
        class="rounded-2xl absolute h-[110%] object-contain bottom-3 -right-5"
      />
    </figure>
  </div>
  <div class="col-span-5">
    <PersonalData lang={lang} />
  </div>
  <script>
    const phone = document.getElementById("phone");
    const email = document.getElementById("email");
    phone?.addEventListener("click", () => {
      window.open("https://wa.me/+573054725724", "_blank");
    });
    email?.addEventListener("click", () => {
      window.open("mailto:wk.juanzuniga@gmail.com", "_blank");
    });
  </script>
</section>
