---
import { getCollection, render } from "astro:content";
import ProjectImage from "../components/projects/ProjectImage";
import GithubIcon from "../../../core/icons/GithubIcon.astro";
interface Props {
    lang: string;
}
const { lang } = Astro.props;
const title = lang === "es" ? "Proyectos" : "ProjectsSection";
const description =
    lang === "es"
        ? "Estos son algunos de mis favoritos."
        : "These are some of my favorites";
const repo = lang === "es" ? "Repositorio" : "source code";
const collection = await getCollection("projects");
const data = await (async () => {
    const items = [];
    for await (const item of collection) {
        if (!item.id.includes(lang)) continue;
        const { Content } = await render(item);
        items.push({ ...item.data, Content });
    }
    return items;
})();
const items = data.filter((item) => item.qualification >= 8);
---

<section class="w-full flex flex-col gap-y-14 relative items-center">
    <div class="flex flex-col items-start justify-center w-full gap-y-4">
        <h3 class="text-5xl text-left font-semibold">{title}</h3>
        <p
            class="text-wrap text-start whitespace-break-spaces font-serif text-sm italic font-light max-w-[35%]"
        >
            {description}
        </p>
    </div>
    {
        items.map((item) => (
            <article
                class="w-full bg-white shadow-lg shadow-neutral-300 p-10 rounded-2xl grid grid-cols-2 gap-x-4
            items-center px-16 sticky top-26 border-2 border-neutral-200"
            >
                <div class="w-full h-full flex flex-col gap-y-5 items-start justify-center">
                    <div class="flex items-center gap-x-2 text-xl font-semibold font-serif capitalize">
                        <h4>{item.name}</h4>-<span>{item.category}</span>
                    </div>
                    <div class="font-extralight font-poppins text-[0.9rem] flex flex-col gap-y-4">
                        <p class="capitalize">{item.type}</p>
                        <div>
                            <item.Content />
                        </div>
                    </div>
                    <ul class="flex items-center justify-start gap-2 flex-wrap">
                        {item.skills.map((skill) => (
                            <li
                                class="font-light font-sans text-sm px-4 rounded-xl 
                                text-center bg-neutral-100 capitalize text-nowrap"
                            >
                                {skill}
                            </li>
                        ))}
                    </ul>
                    <div class="flex items-center justify-start gap-x-2">
                        {item.repo !== "" ? (
                            <a
                                href={item.repo}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex items-center gap-x-2 bg-blue-900 px-4 py-0.5 rounded-lg text-white"
                            >
                                <figure class="w-5 h-5">
                                    <GithubIcon />
                                </figure>
                                <span>{repo}</span>
                            </a>
                        ) : (
                            <div class="flex items-center gap-x-2 bg-blue-900 px-4 py-0.5 rounded-lg text-white">
                                <figure class="w-5 h-5">
                                    <GithubIcon />
                                </figure>
                                <span>Private</span>
                            </div>
                        )}
                        {item.live !== "" && (
                            <a
                                href={item.live}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex items-center gap-x-2 bg-green-900 px-4 py-0.5 rounded-lg text-white"
                            >
                                <span>Live</span>
                            </a>
                        )}
                    </div>
                </div>
                <div class="border-[1px] border-neutral-200 bg-neutral-100 rounded-2xl p-1 z-0">
                    <img
                        src={item.cover}
                        alt={`${item.name} project image cover`}
                        class="rounded-lg shadow-2xl shadow-neutral-400 p-1"
                    />
                </div>
            </article>
        ))
    }
</section>
