---
import { frontend, backend, databases, languages } from "../data/Skills";
import SkillsItem from "../components/resume/SkillsItem.astro";
import HTML from "../assets/icons/HTML.astro";
import ServerIcon from "../assets/icons/ServerIcon.astro";
import Database from "../assets/icons/Database.astro";
import Code from "../assets/icons/Code.astro";
import GitHubActivity from "../components/resume/GitHubActivity.astro";
interface Props {
    lang: string;
}
const { lang } = Astro.props;
const title = lang === "es" ? "Habilidades" : "Skills";
---

<section class="col-span-12 grid 2xl:grid-cols-4 grid-cols-3 gap-5">
    <div class="2xl:col-span-4 lg:col-span-3 lg:text-3xl 2xl:text-5xl font-bold font-serif">
        <h4 class="uppercase">{title}</h4>
    </div>
    <GitHubActivity lang={lang} />
    <SkillsItem lang={lang} title="Frontend" item={frontend} bg="bg-blue-500">
        <HTML />
    </SkillsItem>
    <SkillsItem item={backend} lang={lang} title="Backend" bg="bg-sky-500">
        <ServerIcon />
    </SkillsItem>
    <SkillsItem
        item={databases}
        lang={lang}
        title={lang === "es" ? "Bases de datos" : "Databases"}
        bg="bg-emerald-500"
    >
        <Database />
    </SkillsItem>
    <SkillsItem
        item={languages}
        lang={lang}
        title={lang === "es" ? "Lenguajes" : "Languages"}
        bg="bg-violet-500"
    >
        <Code />
    </SkillsItem>
</section>
