---
import {Image} from "astro:assets";
import Book from "../../commons/assets/icons/system/Book.astro";
import Clock from "../../commons/assets/icons/system/Clock.astro";
import HeroTags from "../components/HeroTags.astro";
import getPersonalTags from "../content/personalTags";
import smallProfile from "../../commons/assets/images/smallProfile.png";
import {getHomeHero} from "../content/system";
import PersonalInfoLine from "../components/PersonalInfoLine.astro";
import getPersonalData from "../../commons/content/personalData";
import getSocialMedia from "../../commons/content/socialMedia";
const locale = Astro.currentLocale!;
const tags = await getPersonalTags(locale);
const system = await getHomeHero(locale);
const personalData = await getPersonalData(locale);
const social = await getSocialMedia(locale);
---
<div class="flex flex-col gap-y-4 w-full self-end items-center">
    <div class="flex flex-col gap-y-6 bg-light-surface rounded-2xl w-full">
        <div class="flex flex-col items-center">
            <div class="grid grid-cols-3 items-start gap-5 bg-light-bg py-4 rounded-2xl w-full xl:px-2 2xl:px-5">
                <HeroTags name={tags.time} layer={1}>
                    <Clock/>
                </HeroTags>
                <HeroTags name={tags.learning} layer={0}>
                    <Book/>
                </HeroTags>
                <HeroTags name={tags.mentorship} layer={1}>
                    <Clock/>
                </HeroTags>
            </div>
        </div>
        <div class="w-full place-self-center bg-light-bg flex flex-col items-center-safe relative rounded-2xl">
            <div class="bg-light-surface absolute -top-14 p-1.5 rounded-full w-fit">
                <Image src={smallProfile} width={80} height={80} alt="small real life profile"
                       class="rounded-full bg-light-bg p-0.5" />
            </div>
            <div class="flex flex-col items-center-safe xl:pb-4 pt-10 pb-3 font-sweet gap-y-3 px-2 w-full">
                <div class="w-full flex flex-col items-center">
                    <h3 class="font-bold font-cascadia capitalize xl:text-3xl lg:text-xl">{personalData.name}</h3>
                </div>
                <ul class="flex flex-col items-start w-full xl:px-5 px-3">
                    <PersonalInfoLine field={system.location} value={`${personalData.city}, ${personalData.country}`} />
                    <PersonalInfoLine field={system.birthday} value={personalData.birthday} />
                    <PersonalInfoLine field={system.experience} value={`+${personalData.experience}`} />
                </ul>
            </div>
        </div>
    </div>
    <div class="flex items-center gap-x-1">
        {social.map((item) => (
            <a href={item.url} target="_blank"
               class="p-1.5 rounded-full xl:w-8 xl:h-8 w-7 h-7 flex items-center justify-center overflow-hidden bg-light-bg">
                <Image src={item.icon} alt={`${item.name} icon`} width={18} height={18}/>
            </a>
        ))}
    </div>
</div>